.main-container{
    max-width: 1440px;
    margin:0 auto;
    
}

.announcements{
    display: flex;
    justify-content: center;
    background-color: rgb(245 197 151);
    margin-bottom: 20px;
}


.announcements span{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.7rem;
    font-weight: 500;
}

.image{
    width:50%;
    height: 100%;
}
.image .img{
    width:500%;
    height: 100%;
}


.left-right-section{
    display: flex;
    margin-bottom: 10px;
}
.text{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h1:hover{
    
    color: burlywood;
}

.text h1:hover{
    
    color: burlywood;
}
.text h1{
    margin-bottom: 24px;
    color: burlywood;
    
}
.text .cta{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: rgb(206, 146, 67);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    
}

.text .cta:hover{
    padding: 7px 28px;
    background-color: rgb(246, 248, 229);
}

.image1{
    margin-left: 110px;
    height:400px;
    width:auto;
}
.chill .text{
    background-color: rgb(236, 214, 184);
}

.rewards .text{
    background-color: rgb(228, 220, 209);
}

